[Desktop Entry]
Version=1.0
Name=Kanata Tray
Comment=Launch Kanata Tray
Exec=/home/carlos/system/keyboard/kanata-tray/kanata-tray-linux
Icon=/home/carlos/system/keyboard/kanata-tray/icons/kanata-icon.svg
Terminal=false
Type=Application
Categories=Utility;System;
